[Unit]
Description=Set NVIDIA GPUs to EXCLUSIVE_PROCESS compute mode
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nvidia-smi -c EXCLUSIVE_PROCESS

[Install]
WantedBy=multi-user.target
